.tutorial_number {
  width: 6vh;
  height: auto;
  padding-right: 3%;
}

.imageTextSlide {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5%;
  & > *:nth-child(1) {
    @media (max-width: 900px) {
      flex: 0;
    }
    flex: 1;
    height: 100%;
    line-height: 100%;
    text-align: center;
    .helper {
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
    img {
      padding: 5%;
      max-width: 100%;
      max-height: 100%;
    }
  }
  & > *:nth-child(2) {
    flex: 1;
  }
}

#hhSlide {
  background-color: #f1f1f1;
  text-align: center;
  div {
    position: relative;
  }
}

#shopSlide {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5%;
  img {
    flex: 1;
    &:nth-child(1) {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }
}

#ctaSlide {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5%;
  & > *:nth-child(1) {
    flex: 1;
  }
  & > *:nth-child(2) {
    flex: 1;
  }
}
