/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
*,
::before,
::after {
  box-sizing: border-box; }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0; }

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0; }

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none; }

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse; }

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0; }

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */ }

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */ }

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible; }

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none; }

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */ }

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0; }

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none; }

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block; }

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

dialog:not([open]) {
  display: none; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */ }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed; }

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden] {
  display: initial; }

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute; }

.tutorial_number {
  width: 6vh;
  height: auto;
  padding-right: 3%; }

.imageTextSlide {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5%; }
  .imageTextSlide > *:nth-child(1) {
    flex: 1;
    height: 100%;
    line-height: 100%;
    text-align: center; }
    .imageTextSlide > *:nth-child(1) .helper {
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    .imageTextSlide > *:nth-child(1) img {
      padding: 5%;
      max-width: 100%;
      max-height: 100%; }
  .imageTextSlide > *:nth-child(2) {
    flex: 1; }

#hhSlide {
  background-color: #f1f1f1; }

#shopSlide {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5%; }
  #shopSlide img {
    flex: 1; }

#ctaSlide {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5%; }
  #ctaSlide > *:nth-child(1) {
    flex: 1; }
  #ctaSlide > *:nth-child(2) {
    flex: 1; }

.animation-wrapper {
  position: relative;
  width: 753px;
  height: 480px;
  background: url("../img/hero_illustration.svg") center center; }

.animation-inner {
  display: inline-block;
  margin-top: 170px; }

.sm-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 10px; }

.sm-meta {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #9da9a0; }

.status-capacity {
  display: inline-block;
  position: relative;
  margin: 20px; }
  .status-capacity .icon-person {
    margin: 0 3px; }

.status-title {
  font-size: 18px;
  letter-spacing: 0.2px;
  font-weight: 400;
  margin-bottom: 40px; }

.status-badge {
  display: inline-block;
  padding: 2px 9px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: white; }
  .status-badge.yes {
    background: #26c485; }
  .status-badge.no {
    background: #fe5f55; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.animated.delay-05s {
  -webkit-animation-delay: .5s;
  animation-delay: .5s; }

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

.hide {
  visibility: hidden !important; }

.typewriter {
  position: absolute;
  left: 25%;
  top: 37%;
  font-size: 1.8vw;
  letter-spacing: 0.08px;
  font-weight: 500;
  z-index: 100;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  letter-spacing: .05em;
  animation: typing 2s steps(80, end), blink-caret 0.75s step-end infinite; }
  @media (min-width: 1400px) {
    .typewriter {
      font-size: 25px; } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 22%; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: orange; } }

html {
  box-sizing: border-box;
  color: #0b0033;
  font-family: "Roboto", sans-serif; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.logo {
  position: fixed;
  display: inline-block;
  top: 60px;
  left: 40px;
  width: 100px;
  z-index: 999; }

.projekt {
  position: absolute;
  bottom: 3vh;
  left: 0;
  width: 300px; }

@media (max-width: 900px) {
  .projekt {
    position: static; }
  .illustration {
    width: 40% !important; }
  .logo {
    position: absolute;
    top: 25px; }
  #section2headline {
    margin-top: 10%; }
  #support {
    height: 80vh !important;
    margin-top: 10%; }
  .section-support {
    margin-top: 5%; }
  .support_left {
    height: 50vh !important; }
  .support_right {
    height: 50vh !important; }
  .paypal {
    height: 80%; }
  .video {
    height: 30vh !important; } }

.cleanlink {
  color: #0b0033;
  text-decoration: none; }

.section-small {
  height: 45vh;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex; }

.fullheight {
  height: 100vh; }

.section-inner {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  display: inline-flex;
  background: white; }
  .section-inner.start {
    justify-content: flex-end;
    align-items: center;
    flex-flow: column; }
  .section-inner.community {
    justify-content: center;
    align-items: center;
    flex-flow: column; }
  .section-inner.tutorial {
    justify-content: center;
    align-items: center;
    flex-flow: column; }

.stage {
  text-align: center; }

p {
  font-size: 22px;
  letter-spacing: 0.08px;
  margin: 0; }
  p.intro {
    font-weight: 500; }
  p.secondary {
    font-weight: 400;
    margin-bottom: 20px; }
  p.kiez {
    max-width: 450px;
    margin: 30px 0;
    text-align: center; }

.subline {
  font-size: 1.3vw; }

.illustration {
  width: 500px; }

a {
  color: #00b9ae; }

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0; }

footer {
  color: #9da9a0;
  padding: 20px 0 40px 0;
  text-align: center; }

.relative {
  position: relative; }

.display-none {
  display: none !important; }

.phone-disclaimer-hide {
  display: block; }
  @media (orientation: portrait) {
    .phone-disclaimer-hide {
      display: none; } }

.phone-disclaimer {
  display: none;
  height: calc(100vh - 60px); }
  .phone-disclaimer > p {
    width: 100%;
    text-align: center;
    font-size: 3em;
    align-self: center; }
  @media (orientation: portrait) {
    .phone-disclaimer {
      display: flex; } }

/* Tutorial-Slider */
.slideshow-container {
  max-width: 1000px;
  width: 70vw;
  min-height: 300px;
  height: 35vh;
  position: relative; }

.mySlides {
  display: none;
  border: 2px solid #e2e2e2;
  position: relative;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 30px 0px #e2e2e2; }
  .mySlides .inner {
    width: 100%;
    height: 100%; }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #26c485;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover,
.next:hover {
  background-color: #0b0033; }

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active,
.dot:hover {
  background-color: #717171; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

.bottom-space {
  margin-bottom: 2%; }

.top-space {
  margin-top: 5%; }

.center {
  text-align: center; }

.fab {
  margin: 1vh;
  color: white; }

.headline {
  padding: 2%;
  border-radius: 3px;
  margin-bottom: 4%; }

.foodbasket {
  width: 45%;
  height: 80%; }

.supermarkt {
  height: 50%;
  width: 45%; }

.group {
  height: 100%;
  width: 40%;
  margin-left: 4%; }

.melden {
  display: flex;
  flex-direction: column; }

.btn {
  font-size: inherit;
  background-color: #26c485;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 3%;
  margin-top: 5%;
  width: 100%;
  outline: none; }
  .btn:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s; }

.strasse {
  width: 70vw;
  margin-top: 2.5%; }

.roadmap {
  position: absolute;
  margin: auto 35%;
  width: 30% !important; }

.support {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  align-items: flex-start; }

.support_left {
  border: 2px solid #bad1cd;
  border-radius: 2px;
  width: 33vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .support_left:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s; }
  .support_left p {
    font-size: 1.5vw; }

.support_right {
  border: 2px solid #bad1cd;
  border-radius: 2px;
  width: 33vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .support_right:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s; }
  .support_right p {
    font-size: 1.5vw;
    margin: 2% 0; }

#support {
  height: 55vh; }

#support_headline {
  margin-top: 2%; }

.video {
  width: 90%;
  height: 25vh; }

footer {
  background-color: #26c485;
  color: white;
  position: relative; }
  footer > p {
    margin-bottom: 1%;
    font-size: 16px; }
