@import "sanitize";
@import "colors";
@import "slides";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

$light: 300;
$regular: 400;
$medium: 500;

@import "animation";

html {
  box-sizing: border-box;
  color: $midnight-blue;
  font-family: "Roboto", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.logo {
  position: fixed;
  display: inline-block;
  top: 60px;
  left: 40px;

  width: 100px;

  z-index: 999;
}

.projekt {
  position: absolute;
  bottom: 3vh;
  left: 0;
  width: 300px;
}

@media (max-width: 900px) {
  .projekt {
    position: static;
  }
  .illustration {
    width: 40% !important;
  }
  .logo {
    position: absolute;
    top: 25px;
  }
  #section2headline {
    margin-top: 10%;
  }
  #support {
    height: 80vh !important;
    margin-top: 10%;
  }
  .section-support {
    margin-top: 5%;
  }
  .support_left {
    height: 50vh !important;
  }
  .support_right {
    height: 50vh !important;
  }
  .paypal {
    height: 80%;
  }
  .video {
    height: 30vh !important;
  }
}

.cleanlink {
  color: $midnight-blue;
  text-decoration: none;
}

.section-small {
  height: 45vh;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
}

.fullheight {
  height: 100vh;
}

.section-inner {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  display: inline-flex;

  &.start {
    justify-content: flex-end;
    align-items: center;
    flex-flow: column;
  }

  &.community {
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  &.tutorial {
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  background: white;
}

.stage {
  text-align: center;
}

p {
  font-size: 22px;
  letter-spacing: 0.08px;

  margin: 0;

  &.intro {
    font-weight: $medium;
  }
  &.secondary {
    font-weight: $regular;
    margin-bottom: 20px;
  }
  &.kiez {
    max-width: 450px;
    margin: 30px 0;
    text-align: center;
  }
}

.subline {
  font-size: 1.3vw;
}

.illustration {
  width: 500px;
}

a {
  color: $turquoise;
}

h3 {
  font-size: 32px;
  font-weight: $light;
  margin: 0;
}

footer {
  color: $greenish-grey;
  padding: 20px 0 40px 0;
  text-align: center;
}

.relative {
  position: relative;
}

.display-none {
  display: none !important;
}

.phone-disclaimer-hide {
  display: block;
  @media (orientation: portrait) {
    display: none;
  }
}

.phone-disclaimer {
  display: none;
  height: calc(100vh - 60px);
  & > p {
    width: 100%;
    text-align: center;
    font-size: 3em;
    align-self: center;
  }
  @media (orientation: portrait) {
    display: flex;
  }
}

/* Tutorial-Slider */
.slideshow-container {
  max-width: 1000px;
  width: 70vw;
  min-height: 300px;
  height: 35vh;
  position: relative;
}

.mySlides {
  display: none;
  border: 2px solid #e2e2e2;
  position: relative;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 30px 0px #e2e2e2;
  .inner {
    width: 100%;
    height: 100%;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #26c485;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: $midnight-blue;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.bottom-space {
  margin-bottom: 2%;
}

.top-space {
  margin-top: 5%;
}

.center {
  text-align: center;
}

.fab {
  margin: 1vh;
  color: white;
}

.headline {
  // background-color: #F1F1F1;
  padding: 2%;
  border-radius: 3px;
  margin-bottom: 4%;
}

.foodbasket {
  width: 45%;
  height: 80%;
}

.supermarkt {
  height: 50%;
  width: 45%;
}

.group {
  height: 100%;
  width: 40%;
  margin-left: 4%;
}

.melden {
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: inherit;
  background-color: $greenblue;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 3%;
  margin-top: 5%;
  width: 100%;
  outline: none;

  &:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
}

.strasse {
  width: 70vw;
  margin-top: 2.5%;
}

.roadmap {
  position: absolute;
  margin: auto 35%;
  width: 30% !important;
}

.support {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  align-items: flex-start;
}

.support_left {
  border: 2px solid $silver;
  border-radius: 2px;
  width: 33vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  & p {
    font-size: 1.5vw;
  }
}

.support_right {
  border: 2px solid $silver;
  border-radius: 2px;
  width: 33vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  & p {
    font-size: 1.5vw;
    margin: 2% 0;
  }
}

#support {
  height: 55vh;
}

#support_headline {
  margin-top: 2%;
}

.video {
  width: 90%;
  height: 25vh;
}

footer {
  background-color: $greenblue;
  color: white;
  position: relative;
  & > p {
    margin-bottom: 1%;
    font-size: 16px;
  }
}
